.mainSearchDiv {
    display: flex;
    justify-content: center;
}

.Search {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 70%;
    padding-left: 10%;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.NoResults{
    margin-left: 500px;
    width: 400px;
    height: 400px;
}
