.mainSearchDiv {
    display: flex;
    justify-content: center;
}

.Search {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 90%;
    padding-left: 3%;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: snow;
    width: 370px;
    margin: 10px 10px 10px 33%;
    border-radius: 20px;
}

.NoResults{
    margin-left: 500px;
    width: 400px;
    height: 400px;
}
