.movies{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-around;
    width: 70%;
    padding-left: 10%;
}
.mainPageForMovies{
    display: flex;
    justify-content: center;
}

.pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.loading{
    width: 200px;
    height: 200px;
}

.divLoading{
    margin-left: 500px;
    margin-top: 200px;
}
