.Genres{
    background-color: cornflowerblue;
    height: 970px;
    width: 150px;
    padding-left: 25px;
    padding-right: 55px;
    font-family: "Century Gothic", serif;
    font-size: 22px;
    border-radius: 30px;
    border: 1px solid black;
    opacity: 0.8;
    margin-left: 10px;
    margin-top: 10px;
}

.boxWithGenres{
    display: flex;
    padding-bottom: 14px;
}

.Genres a{
    text-decoration: none;
    color: darkblue;
}

.toMainPage{
    color: midnightblue;
    border: 2px solid midnightblue;
    border-radius: 30px;
    display: flex;
    justify-content: center;
}
