.Genres{
    background-color: cornflowerblue;
    height: 1040px;
    padding-left: 25px;
    padding-right: 25px;
    font-family: "Bauhaus 93", serif;
    font-size: 20px;
}

.Genres a{
    text-decoration: none;
    color: blue;
}

.Genres a[class='active'] {
    font-size: 22px;
    color: red;
}

.toMainPage{
    color: midnightblue;
}
