.Header {
    height: 70px;
    background-color: cornflowerblue;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-right: 200px;
    opacity: 0.9;
}

h2{
    font-size: 35px;
    font-family: "Bauhaus 93", serif;
    border: 3px solid black;
    border-radius: 50px;
    padding-left: 7px;
    padding-right: 7px;
}

.searchUserTheme{
    display: flex;
}

.round:hover + .hide{
    display: block;
}

.round img{
    width: 30px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 10px;
}

.hide{
    display: none;
    margin-right: 20px;
}

input{
    height: 25px;
    border-radius: 10px;
}

.link{
    text-decoration: none;
    color: black;
}



