.movie{
    margin: 10px;
    width: 318px;
    border-radius: 15px;
    border: 2px solid aqua;
    background-color: black;
    opacity: 0.9;
}

.images{
    border-radius: 15px;
    margin-left: 10px;
    margin-top: 5px;
    height: 450px;
    width: 300px;
}

.images:hover {
    opacity: 0.7;
    transition: opacity 0.7s;
}

.link{
    text-decoration: none;
    color: white;
    font-family: "Century Gothic", serif;
}

.titleName{
    display: flex;
    justify-content: center;
    margin-left: 10px;
}


.divForBadge{
    display: flex;
    position: relative;
    bottom: 455px;
    width: 300px;
    height: 10px;
    flex-wrap:wrap;
    margin-left: 15px;
    margin-top: 2px;
}

.divForBadge a{
    text-decoration: none;
}

.badges{
    font-size: 15px;
    padding-right: 7px;
    padding-left: 7px;
    background-color: cornflowerblue;
    color: black;
    height: 30px;
    margin-top: 7px;
    margin-left: 3px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.8;
    font-weight: bold;
}

