.movie{
    margin: 10px;
    width: 270px;
}

.images:hover {
    opacity: 0.7;
    transition: opacity 0.7s;
}

.link{
    text-decoration: none;
    /*color: darkcyan;*/
    font-family: "Century Gothic", serif;
}

.divForBadge{
    display: flex;
    position: relative;
    bottom: 455px;
    width: 300px;
    height: 10px;
    flex-wrap:wrap;
}

.divForBadge a{
    text-decoration: none;
}

.badges{
    font-size: 15px;
    padding-right: 7px;
    padding-left: 7px;
    background-color: cornflowerblue;
    color: black;
    height: 30px;
    margin-top: 7px;
    margin-left: 3px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.8;
    font-weight: bold;
}

