
html{
    --background: #ffffff;
    background-image: url("https://static3.bigstockphoto.com/1/4/1/large1500/14135582.jpg");
    background-attachment: fixed;
    /*color: darkslategray;*/
}

html[data-theme='dark']{
    background-image: url("https://images.unsplash.com/photo-1489599849927-2ee91cede3ba?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwcm9maWxlLXBhZ2V8MXx8fGVufDB8fHx8&w=1000&q=80");
    background-attachment: fixed;
    color: white;
}

html{
    background-color: var(--background);
}
